# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/static/
/media/

# Virtual environment
.venv/
venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# Windows installer files
Thumbs.db
